# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Load data

In [21]:
# define the path and assign dataframes to the "df" variables

path = r'C:\Users\Jakov\2023 Instacart Basket Analysis'

df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_with_derived_columns.pkl'))

In [23]:
df = df_ords_prods_merge[:1000000]

In [24]:
df.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_a_week,order_hour_of_day,days_since_prior_order,first_order_ever,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Most orders
1,26,33120,5,0,153404,2,0,16,7.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Busiest day,Busiest days,Most orders
2,120,33120,13,0,23750,11,6,8,10.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Average orders
3,327,33120,5,1,58707,21,6,9,8.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Most orders
4,390,33120,28,1,166654,48,0,12,9.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Busiest day,Busiest days,Most orders

In [5]:
df.groupby('product_name')

In [25]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
3                14.898875
4                18.847057
7                16.462291
11               17.419048
12               19.215747
13               16.473586
14               13.120454
16               18.867191
19               14.369608

In [26]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
3                14.898875   1  99
4                18.847057   1  99
7                16.462291   1  99
11               17.419048   1  71
12               19.215747   1  99
13               16.473586   1  99
14               13.120454   1  99
16               18.867191   1  99
19               14.369608   1  99

In [27]:
df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Jakov\AppData\Local\Temp\ipykernel_5028\3693603773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [28]:
df.head(15)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_a_week,order_hour_of_day,days_since_prior_order,first_order_ever,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Most orders,8
1,26,33120,5,0,153404,2,0,16,7.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Busiest day,Busiest days,Most orders,32
2,120,33120,13,0,23750,11,6,8,10.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Average orders,11
3,327,33120,5,1,58707,21,6,9,8.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Most orders,30
4,390,33120,28,1,166654,48,0,12,9.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Busiest day,Busiest days,Most orders,62
5,537,33120,2,1,180135,15,2,8,3.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Average orders,98
6,582,33120,7,1,193223,6,2,19,10.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Average orders,38
7,608,33120,5,1,91030,11,3,21,12.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,37
8,623,33120,1,1,37804,63,3,12,3.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Slowest days,Most orders,63
9,689,33120,4,1,108932,16,1,13,3.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Busiest days,Most orders,24
10,726,33120,3,1,57362,25,2,17,7.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Most orders,56
11,771,33120,29,1,73968,16,0,17,7.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Busiest day,Busiest days,Most orders,32
12,800,33120,3,1,132856,3,5,7,3.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Fewest orders,26
13,901,33120,3,1,160657,31,1,23,8.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,31
14,1005,33120,5,1,108796,11,2,14,6.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days,Most orders,15

In [20]:
df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

C:\Users\Jakov\AppData\Local\Temp\ipykernel_5028\3586920424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
df.loc[(df['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
df.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
df['loyalty_flag'].value_counts()

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
df['loyalty_flag']

0               New customer
1           Regular customer
2           Regular customer
3           Regular customer
4             Loyal customer
                  ...
32404854    Regular customer
32404855      Loyal customer
32404856      Loyal customer
32404857        New customer
32404858      Loyal customer
Name: loyalty_flag, Length: 32404859, dtype: object

In [17]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_with_loyalty_flag.pkl'))

In [29]:
df.describe()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_a_week,order_hour_of_day,days_since_prior_order,aisle_id,department_id,prices,max_order
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,941393.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.686304e+06,21329.492790,6.747945,0.747380,102924.512087,18.585644,2.665374,13.403254,10.705292,70.635159,5.842695,9.482562,33.500142
std,9.740913e+05,9271.446978,6.071294,0.434515,59536.131180,18.500044,2.099507,4.282501,8.553962,41.305175,4.217237,2.008638,25.774948
min,2.000000e+00,1819.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,3.000000,3.000000,1.800000,1.000000
25%,8.438668e+05,13176.000000,2.000000,0.000000,51135.000000,5.000000,1.000000,10.000000,5.000000,24.000000,4.000000,8.200000,13.000000
50%,1.685150e+06,21903.000000,5.000000,1.000000,102482.000000,12.000000,2.000000,13.000000,7.000000,83.000000,4.000000,10.300000,27.000000
75%,2.528567e+06,24838.000000,9.000000,1.000000,154365.000000,26.000000,5.000000,16.000000,14.000000,120.000000,4.000000,10.300000,48.000000
max,3.421069e+06,46842.000000,111.000000,1.000000,206209.000000,99.000000,6.000000,23.000000,30.000000,125.000000,19.000000,13.700000,99.000000